<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.fhoa.GeneralapplicationMapper">
	
	<!--表名 -->
	<sql id="tableName">
		OA_GENERALAPPLICATION
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.USERNAME,	
		f.UNAME,	
		f.TITLE,	
		f.PROCESSKEY,	
		f.REMARKS,	
		f.GENERALAPPLICATION_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		USERNAME,	
		UNAME,	
		TITLE,	
		PROCESSKEY,	
		REMARKS,	
		GENERALAPPLICATION_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{USERNAME},	
		#{UNAME},	
		#{TITLE},	
		#{PROCESSKEY},	
		#{REMARKS},	
		#{GENERALAPPLICATION_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			GENERALAPPLICATION_ID = #{GENERALAPPLICATION_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			TITLE = #{TITLE},
			PROCESSKEY = #{PROCESSKEY},
			REMARKS = #{REMARKS},
			GENERALAPPLICATION_ID = GENERALAPPLICATION_ID
		where 
			GENERALAPPLICATION_ID = #{GENERALAPPLICATION_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.GENERALAPPLICATION_ID = #{GENERALAPPLICATION_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			d4.BIANMA BIANMA4,
			d4.NAME DNAME4,
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
			left join 
			<include refid="dicTableName"></include> d4
			on f.PROCESSKEY = d4.BIANMA
		where 1=1
		<if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
				(
					f.UNAME LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')
					 or 
					f.USERNAME LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%') 
				)
		</if>
		<if test="pd.USERNAME!= null and pd.USERNAME != ''">
			and f.USERNAME = #{pd.USERNAME}
		</if>
		<if test="pd.PROCESSKEY != null and pd.PROCESSKEY != ''"><!-- 流程对象 -->
			and f.PROCESSKEY = #{pd.PROCESSKEY}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			GENERALAPPLICATION_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>